WS_ENDPOINT=wss://statemine.api.onfinality.io/public-ws
API_URL=https://statemine.statescan.io/api
COMMANDS=pm2 restart meta-statemine-prod && pm2 restart prod-statescan-statemine prod-statescan-nft-statemine prod-statescan-xcm-statemine
NAMES=meta-statemine-prod;prod-statescan-statemine;prod-statescan-nft-statemine;prod-statescan-xcm-statemine
